<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.statistics.IAmitCashDao" >
   <select id="getCashList" resultType="hashmap" parameterType="hashmap" >
		select temp.financeId as financeId,
		temp.payId as payId,
		temp.ywlxId as ywlxId,
		temp.financeEndDate as financeEndDate,
		temp.lsPayAmt as lsPayAmt,
		CONVERT( temp.lsCashAmit,DECIMAL),
		CONVERT( temp.lsCashAmit,DECIMAL)as lsCashAmit,
	
		temp.dzPayAmt as dzPayAmt,
		CONVERT( temp.dzCashAmit,DECIMAL)as  dzCashAmit,
		
		temp.payDate as payDate,
		temp.financeStatus as financeStatus
		 from
		(
		SELECT
			finance.finance_id AS financeId,
			finance.pay_id AS payId,
			finance.ywlx_id as ywlxId,
		finance.finance_end_date as financeEndDate,
			(
				CASE
				WHEN finance.ywlx_id = '1' THEN
					finance.pay_amt
				ELSE
					''
				END
			) AS lsPayAmt,
			(
				CASE
				WHEN finance.ywlx_id = '1' THEN
					SUM(cash.pay_amit)
				ELSE
					''
				END
			) AS lsCashAmit,
			(
				CASE
				WHEN finance.ywlx_id = '2' THEN
					finance.pay_amt
				ELSE
					''
				END
			) AS dzPayAmt,
			(
				CASE
				WHEN finance.ywlx_id = '2' THEN
					SUM(cash.pay_amit)
				ELSE
					''
				END
			) AS dzCashAmit,
			max(cash.pay_date) AS payDate,
			finance_status AS financeStatus
		FROM
			finance_info finance
		LEFT JOIN dyk_cash_history cash ON finance.pay_id = cash.pay_id
		WHERE
			finance_status <![CDATA[<>]]> '999'
		AND finance_status <![CDATA[<>]]>  '1'
		GROUP BY
			finance.pay_id
		ORDER BY
		finance.finance_end_date
		)temp		
				
  </select>
  
  <select id="getDetailList" resultType="hashmap" parameterType="hashmap" >
		SELECT pay_id AS payId , pay_amit AS payAmit , pay_date AS payDate,pay_note AS payNote FROM dyk_cash_history 
		 WHERE pay_id = #{payId}
		
  </select>
</mapper>