<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.project.IRevenueDao">

	<select id="getRevenueInfoByAgency" resultType="hashmap" parameterType="hashmap">
	select Temp.* from (
		select
		rm.finance_id financeId,ci.corp_name agency,ci.orgn_num agencyNum,SUM(rm.interest_sum)
		sapttaSum,SUM(has_pay_interest) apttaSum,SUM(not_pay_interest)
		unpaidInterestSum
		from revenue_management rm
		join finance_info fi on fi.finance_id =rm.finance_id
    	join corp_info ci on fi.corp_id = ci.corp_id
		<where>
			1=1
			<if test="corpId != null and corpId != ''">
				and ci.corp_id = #{corpId}
			</if>
			<if test="sysType != null and sysType != ''">
				and ci.sys_type = #{sysType}
			</if>
			<if test="agency != null and agency != ''">
				and ci.corp_name LIKE CONCAT(CONCAT('%', #{agency}),'%')
			</if>
			<if test="revenueStartDate != null and revenueStartDate !='' ">
				and DATE_FORMAT(last_cal_date, '%Y-%m-%d') >= #{revenueStartDate}
			</if>
			<if test="revenueEndDate != null and revenueEndDate !='' ">
				and DATE_FORMAT(last_cal_date, '%Y-%m-%d') <![CDATA[<=]]>
				#{revenueEndDate}
			</if>
		</where>
		GROUP BY ci.corp_name) Temp 
	</select>

</mapper>