<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ut.scf.dao.query.IDykRepayTypeInfoDao" >
  <!-- 查询统计新需求 -->
  <select id="getRepayTypeList" resultType="hashmap" parameterType="hashmap" >
   SELECT
       repay_id repayId,
	   repayment_id repaymentId,
	   repay_type repayType,
	   repay_type_name repayTypeName,
	   repay_count repayCount,	   
	    repay_note repayNote
	    
    from dyk_repay_type   
    WHERE 1 = 1
    <if test="repayId != null and repayId !='' ">  
        and repay_id LIKE CONCAT(CONCAT('%', #{repayId}),'%')
    </if>    
 	<if test="repaymentId != null and repaymentId !='' ">  
        and repayment_id LIKE CONCAT(CONCAT('%', #{repaymentId}),'%')
    </if>  
     <if test="repayType != null and repayType !='' ">  
        and repay_type LIKE CONCAT(CONCAT('%', #{repayType}),'%')
    </if>  
       <if test="repayTypeName != null and repayTypeName !='' ">  
        and repay_type_name LIKE CONCAT(CONCAT('%', #{repayTypeName}),'%')
    </if>  
     <if test="repayCount != null and repayCount !='' ">  
       and repay_count = #{repayCount}
    </if>  
     <if test="repayNote != null and repayNote !='' ">  
        and repay_note LIKE CONCAT(CONCAT('%', #{repayNote}),'%')
    </if>   
  </select>
 <insert id="insert" parameterType="com.ut.scf.pojo.auto.DykRepayTypeInfo">
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Wed Jun 28 15:28:10 CST 2017.
    -->
    insert into dyk_repay_type
   (
      <if test="repayId != null">
        repay_id,
      </if>
      <if test="repaymentId != null">
        repayment_id,
      </if>
      <if test="repayType != null">
        repay_type,
      </if>
      <if test="repayTypeName != null">
        repay_type_name,
      </if>
      <if test="repayCount != null">
        repay_count,
      </if>
      <if test="repay_note != null">
        repay_note
      </if>
      
   )
   values (
      <if test="repayId != null">
        #{repayId,jdbcType=VARCHAR},
      </if>
      <if test="repaymentId != null">
        #{repaymentId,jdbcType=VARCHAR},
      </if>
      <if test="repayType != null">
        #{repayType,jdbcType=VARCHAR},
      </if>
      <if test="repayTypeName != null">
        #{repayTypeName,jdbcType=VARCHAR},
      </if>
      <if test="repayCount != null">
        #{repayCount,jdbcType=DECIMAL},
      </if>
      <if test="repay_note != null">
        #{repay_note,jdbcType=VARCHAR}
      </if>
      
   )
  </insert>
</mapper>